# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="Your URI"

ACTIVATION_CODE=484845184519635274
#Go to manage your google account -> security -> app passwords
# create a google app password and use it here
SMTP_PASSWORD='Your Google App Password'

SMTP_MAIL="Your Email Address"
SMTP_SERVICE=gmail
SMTP_HOST=smtp.gmail.com
REFRESH_TOKEN_SECRET="njejbvjsbvababdwd48f4wefsvnsebvjsbjvbefa5wfef54454"
ACCESS_TOKEN_EXPIRE="fbsjbfsefdrjbtd5ty4dj5tjd4354d5j45y4j68sth46sj4shtr"
FORGOT_PASSWORD_SECRET="hcvfcbafesgv7410ffesf4w1awf85ewfwsf6wtsgfagessg7"